<div class="row border-bottom" ng-controller="HeaderController">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" ng-show="authentication.user">
            <span minimaliza-sidebar></span>
        </div>
        <!--         <ul class="nav navbar-top-links navbar-right" ng-hide="authentication.user">
            <li>
                <a ui-sref="authentication.signup">Sign Up</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a ui-sref="authentication.signin">Sign In</a>
            </li>
        </ul> -->
        <!--<div id="small-chat" ui-sref="cart">
            <span class="badge badge-danger pull-right">{{ cart.getTotalCount() }}</span>
            <a class="open-small-chat">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>-->
    </nav>
</div>