<nav class="navbar-default navbar-static-side" data-ng-controller="HeaderController" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" side-navigation>
            <li class="nav-header">
                <!-- Picture of user -->
                <div class="dropdown profile-element">
                    <div ng-if="authentication.user">
                        <img class="img-circle user-image" ng-src="{{authentication.user.profileImageURL}}" alt="image">
                        <span class="menu-tog  show-xs hidden-sm hidden-md hidden-lg" minimaliza-sidebar></span>
                        <!--<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="" ng-click="toggleCollapsibleMenu()"><i class="fa fa-bars"></i></a>-->
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{authentication.user.displayName}}</strong></span>
                            <span class="text-muted text-xs block">{{authentication.user.roles[0]}}</span>
                        </span></a>
                    </div>
                </div>
                <div class="dropdown logo-element" ng-show="authentication.user">
                    <div ng-show="authentication.user">
                        <img class="img-circle user-image" data-toggle="dropdown" ng-src="{{authentication.user.profileImageURL}}" href="#" alt="image" aria-expanded="true">
                    </div>
                </div>
            </li>
            <li class="dropdown" ng-class="{active: $uiRoute}" ng-if="authentication.user" ui-route="/">
                <a href="/"><i class="fa fa-home"></i> <span class="nav-label">หน้าหลัก</span></a>
            </li>
            <li class="dropdown" ng-class="{active: $uiRoute}" ng-if="!authentication.user" ui-route="/">
                <a href="/"><i class="fa fa-lock"></i> <span class="nav-label">ลงชื่อเข้าใช้</span></a>
            </li>
            <li class="dropdown" ng-class="{active: $uiRoute}" ng-if="authentication.user" ui-route="/settings/signout">
                <a href="/api/auth/signout" target="_self"><i class="fa fa-sign-out"></i> <span class="nav-label">ออกจากระบบ</span></a>
            </li>
        </ul>
    </div>
</nav>