<div class="ibox" ng-controller="AuthenticationController">
    <div class="ibox-content">
        <div class="row">
            <div class="middle-box text-center loginscreen animated fadeInRight login-box">
                <div>
                    <!--<div>
                        <h1 class="logo-name">IN+</h1>
                    </div>-->
                    <h3>สมัครใช้งาน</h3>
                    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
                        <div class="form-group" show-errors>
                            <input type="text" name="firstname" class="form-control" placeholder="ชื่อ" ng-model="credentials.firstName" required="">
                            <div class="text-left" ng-messages="userForm.firstname.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกชื่อ</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <input type="text" name="lastname" class="form-control" placeholder="นามสกุล" ng-model="credentials.lastName" required="">
                            <div class="text-left" ng-messages="userForm.lastname.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกนามสกุล</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <input type="email" name="email" class="form-control" placeholder="อีเมล์" ng-model="credentials.email" required="">
                            <div class="text-left" ng-messages="userForm.email.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกอีเมล์</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <input type="text" name="tel" class="form-control" placeholder="เบอร์โทรศัพท์" ng-model="credentials.tel" required="">
                            <div class="text-left" ng-messages="userForm.tel.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกเบอร์โทรศัพท์</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <input type="text" name="username" class="form-control" placeholder="ชื่อผู้ใช้" ng-model="credentials.username" required="">
                            <div class="text-left" ng-messages="userForm.username.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกชื่อผู้ใช้งาน</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <input type="password" name="password" class="form-control" placeholder="รหัสผ่าน" ng-model="credentials.password" required="">
                            <div class="text-left" ng-messages="userForm.password.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกรหัสผ่าน</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="startCall"><i class="fa fa-spinner fa-spin" ng-if="startCall"></i> ลงทะเบียน</button>
                        <div ng-show="error" class="text-center text-danger">
                            <strong ng-bind="error"></strong>
                        </div>
                        <br>
                        <!-- <a href="#"><small>Forgot password?</small></a> -->
                        <p class="text-muted text-center"><small>มีรหัสผู้ใช้อยู่แล้ว?</small></p>
                        <a class="btn btn-sm btn-white btn-block" ui-sref="authentication.signin">ลงชื่อเข้าใช้</a>
                    </form>
                    <!--<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 © 2014</small> </p>-->
                </div>
            </div>
        </div>
    </div>
</div>
